@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
//colors
$fagreen: #50d673;
$fablue: #2d4884;

html,
body {
  min-height: 100%;
  background: #50d673;
}

@import "./generics.scss";

body {
  font-family: "SF Pro Text", -apple-system, "Source Sans Pro",
    BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-clip: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  > aside {
    width: 4em;
    background: #50d673;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    .logo-sm {
      opacity: 50%;
    }
    span {
      background: white;
      border-radius: 50%;
      overflow: hidden;
      width: 4em;
      height: 4em;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      .fa {
        font-size: 3em;
        opacity: 0.8;
      }
    }
  }
  @media screen and (max-width: 640px) {
    > aside {
      display: none;
    }
  }
  > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    @media screen and (min-width: 500px) {
      max-height: calc(100% - 1em);
      overflow: scroll;
      border-radius: 20px;
      position: fixed;
      width: calc(100% - 5em);
      box-sizing: border-box;
      left: 4.5em;
      top: 0.5em;
    }
    > header {
      padding: 4em;
      @media screen and (max-width: 640px) {
        padding: 0.5em;
      }
      background: url(../images/background-logos.png);
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      text-align: center;
      span {
        padding-top: 1em;
        color: $fablue;
      }
    }
    > section {
      text-align: center;
      margin: 2em 0;
      &#hero {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        figure {
          text-align: center;
          @media screen and (max-width: 640px) {
            margin: 0.5em;
          }
          figcaption {
            padding-top: 1em;
            font-weight: 600;
          }
        }
        i {
          padding: 2em;
          @media screen and (max-width: 640px) {
            margin: 0;
          }
          transition: transform 0.5s ease;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      &#companies {
        img {
          width: 100%;
          max-width: 400px;
          vertical-align: top;
        }
      }
      &#members {
        .mem-container {
          display: flex;
          flex-wrap: wrap;
          max-width: 1000px;
          justify-content: center;
          img {
            border-radius: 50%;
            padding: 20px;
            width: 100px;
          }
        }
      }
    }
  }
}
