@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

body {
  font-family: "SF Pro Text", -apple-system, "Source Sans Pro",
    BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-clip: content-box;
}
body > aside {
  background: #50d673;
  background-clip: content-box;
  user-select: none;
}
